<link rel="stylesheet" href="{{ path '/css/card-city-content.css' }}">
<style>
    #app { display: flex; justify-content: center; flex-wrap: wrap; }
    #app > div { height: 21rem; width: 20rem; margin: 0.5rem 0.5rem 0.5rem 0; }
    @media (min-width: 768px) { #app > div { height: 25rem; width: 30rem; margin-left: 0.5rem; } }
</style>

<div id="app">
    {{#each cities}}
        <div>
            <card-city-content title="{{this.title}}" subtitle="{{this.subtitle}}" text="{{this.text}}"/>
        </div>
    {{/each}}
</div>

<script src="https://unpkg.com/vue"></script>
<script src="{{ path '/js/card-city-content.js' }}"></script>

<script defer>
    new Vue({
        components: {
            CardCityContent: CardCityContent
        }
    }).$mount('#app')
</script>
